<!-- Extender la plantilla base 'layout.html' -->
{% extends './layout.html' %} 

<!-- Definir el contenido del bloque 'title' para el título de la página -->
{% block title %}{{data.titulo}}{% endblock %} 

<!-- Definir el contenido del bloque 'body' para el cuerpo de la página -->
{%block body%}
<h1>{{  data.bienvenida  }}</h1>
<!-- Mostrar una lista de cursos si hay cursos disponibles -->
{% if data.numero_cursos > 0 %}
<ul>
    <!-- Iterar sobre la lista de cursos y mostrarlos como elementos de lista -->
    {% for curso in data.cursos  %}
    <li>{{ curso }}</li>
    {% endfor %} 
</ul>
<!-- Mostrar un mensaje si no hay cursos disponibles -->
{% else %}
<h2>No hay cursos disponibles</h2>
{% endif %}
{% endblock %}
