<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Define el conjunto de caracteres como UTF-8 para soportar caracteres especiales -->
        <meta charset="utf-8">
        <!-- Asegura la compatibilidad con versiones antiguas de Internet Explorer -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}{% endblock %}
        </title>
        <!-- Metaetiqueta para hacer que la página sea adaptable a dispositivos móviles -->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Enlace para incluir hojas de estilo externas -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/layout.css') }}">
    </head>
    <body>
        <!-- Bloque de Jinja2 para personalizar el contenido principal de la página desde plantillas hijas -->
        {%block body%}
        {% endblock %}
        <!-- Enlace para incluir scripts externos, con atributos async y defer para optimizar la carga -->
         <script src="{{url_for('static',filename='js/layout.js') }}" async defer></script>
     </body>
</html>